include ./icon.pug

mixin input-checkbox({ className, label, name, type = 'checkbox', value } = {})
	label.input-checkbox(class=className)
		input.input-checkbox__input(type=type, name=name, value=value)
		+icon({ className: 'input-checkbox__icon', icon: 'check' })
		span.input-checkbox__text #{ label }
