-
	var menu = [
		{
			text: 'Каталог',
			href: '/catalog.html',
			menu: [
				[
					{text: 'Смотреть все', href: './catalog.html'},
					{text: 'Новые поступления', href: './catalog.html'},
				],
				[
					{text: 'Платья', href: './catalog.html'},
					{text: 'Платья-макси', href: './catalog.html'},
					{text: 'Платья-мини', href: './catalog.html'},
					{text: 'Коктейльные-платья', href: './catalog.html'},
					{text: 'Топы', href: './catalog.html'},
				]
			],
		},
		{
			text: 'Коллекции',
			href: '/catalog.html',
			menu: [
				[
					{text: 'Вечерняя коллекция', href: './catalog.html'},
					{text: 'Свадебная коллекция', href: './catalog.html'},
					{text: 'Spring-summer 25', href: './catalog.html'},
					{text: 'Fall-Winter 24-25', href: './catalog.html'},
				]
			],
		},
		{
			text: 'Bridal',
			href: '/catalog.html',
		},
		{
			text: 'О бренде',
			href: '/about.html',
		},
		{
			text: 'Контакты',
			href: '/contacts.html',
		},
	]

	var btns = [
		{icon: 'search', href: '/search.html', count: false},
		{icon: 'user', href: '/account.html', count: false},
		{icon: 'heart', href: '/favorite.html', count: 2},
		{icon: 'bag', href: '/cart.html', count: 4},
	]

include ../mixins/ui/icon.pug

header.header.js-header
	.container.header__container
		a.header__logo(href='/') SALUZA
		button.header__burger.burger.js-menu-burger(class='md:hidden')
			span
			span
			span
		.header__menu.js-menu
			ul.header__menu-list
				each item in menu
					li.header__menu-item(class={ 'js-menu__hover-trigger': item.menu })
						a.link.header__menu-link(href=item.href) #{ item.text }
						if item.menu
							.header__submenu
								each links in item.menu
									if links
										ul.header__submenu-list
											each link in links
												li.header__submenu-item
													a.link.header__submenu-link.js-menu__hide-trigger(href=link.href) #{ link.text }
		.header__btns
			each btn in btns
				a.icon-link(href=btn.href)
					if btn.count
						span.icon-link__badge #{ btn.count }
					+icon({ className: 'icon-link__image', icon: btn.icon })
