mixin page-navbar({ className, heading = 'Название страницы', links = [] })
	nav.navbar(class=className)
		.container.navbar__container
			p.heading #{ heading }
			.navbar__breadcrumbs
				each link in links
					span.navbar__breadcrumbs-link
						a(href=link.href) #{ link.text }
				span.navbar__breadcrumbs-text #{ heading }
